@font-face {
    font-family: "Montserrat-Black";
    src: url('../fonts/Montserrat-Black.eot') format('eot'),
    url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: "Montserrat-Medium";
    src: url('../fonts/Montserrat-Medium.eot') format('eot'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../fonts/Montserrat-SemiBold.eot') format('eot'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-ExtraBold";
    src: url('../fonts/Montserrat-ExtraBold.eot') format('eot'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }