header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    background: #2b2d39;

    .header-holder {
        justify-content: space-between;
        align-items: center;
        .header-nav {
            height: min-content
        }
    }

    .logo {
        background: url("../../svg/logo.svg") no-repeat center center;
        height: 90px;
        width: 100%;

        a {
            display: block;
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                max-width: auto;
            }
        }
    }

    .nav-search-holder {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        nav {
            margin: 0;

            ul {
                align-items: center;
                display: flex;
                margin: 0;

                li {
                    padding: 5px 0px;
                    margin: 0px 20px;
                    text-transform: capitalize;
                    height: 100%;
                    align-items: center;
                    display: flex;
                    border: 1px solid transparent;
                    transition: border 0.5s ease-in-out;

                    &.services {
                        background: url(../../svg/chevron-down.svg) no-repeat center right;
                        padding: 0px 20px;
                    }

                    a {
                        color: white;
                        transition: color 0.25s ease-in-out;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin:0;
                    }

                    &:hover {

                        border-bottom: 1px solid white;

                    }
                }
            }
        }

        .search-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90px;
            background-color: rgba(255, 255, 255, 0.03);
            border: 1px solid rgba(255, 255, 255, 0.1);
            width: 82px;

            .search-holder {
                width: 90px;
                height: 90px;

                a {
                    background: url("../../svg/search.svg") no-repeat center center;
                    height: 100%;
                    width: 100%;
                    background-size: 20px;
                    display: block;
                }
            }

            .contact-us-holder {
                border: 1px solid white;
                padding: 5px;
                transition: border-color 0.20s ease-in-out;

                &:hover {
                    border-color: $gray;
                    border-bottom: 1px solid $blue;
                }

                a {
                    text-transform: uppercase;
                    color: white;
                }

            }

            .input-holder {
                display: none;
                width: 90%;

                input {
                    border: 0;
                    background: none;
                    width: 100%;
                    outline: none;
                    color: white;
                    margin: 0;


                    &::placeholder {
                        color: white;
                        opacity: 0.16;
                    }
                }
            }

            .close {
                display: none;
                width: 20px;
                height: 20px;
                background: url("../../svg/close.svg") no-repeat center center;
            }

            &.active {
                justify-content: space-between;
                background-color: transparent;
                border: none;
                width: 100%;

                .input-holder,
                .close {
                    display: block;
                }
            }
        }
    }

    .burger-nav {

        flex-direction: column;
        display: none;

        span {
            width: 20px;
            height: 2px;
            background: white;
            margin: 2px 0px;
        }
    }

    .side-menu {
        position: absolute;
        background: rgba(47, 52, 64, 0.9);
        color: white;
        display: none;
        text-align: center;
        right: 0;
        border: 1px solid #565961;
        border-left: 0;
        border-right: 0;
        top: 100%;
        width: 100%;
        transform: translateY(-180%);
        z-index: -1;
        transition: transform 1s ease-in-out;
        display: none;
    }

    .links-services {
        padding: 35px 0px;
        background: rgba(47, 52, 64, 0.9);
        border: 1px solid #565961;
        border-left: 0;
        border-right: 0;
        display: none;

        .services-links {
            li {
                padding-top: 25px;
                text-transform: capitalize;

                a {
                    font-size: 16px;
                    color: white;
                    border: 1px solid transparent;

                    opacity: 60%;
                    transition: opacity 0.3s ease-in-out;

                    &:hover {
                        opacity: 100%;
                    }
                }

                &.links-categorie {

                    padding-top: 0;
                    color: white;

                }
            }
        }

        &.open {
            display: block;
        }
    }

    &.dark {
        background-color: #2F3440;
    }
}


.burger-nav {
    width: 20px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    span {
        display: block;
        position: absolute;
        height: 9px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }

    }

    &.open {
        span {
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}


@media(max-width: 991px) {
    header {
        nav ul li {
            padding: 5px 10px;
            font-size: 13px;
        }


        .search-contact {
            width: 100px;

            .contact-us-holder {
                font-size: 10px;
            }
        }
    }
}

@media(max-width: 767px) {
    header {
        .container {
            max-width: 100%;
        }

        //.header-holder {
        nav {
            display: none;
        }

        .search-contact {
            .contact-us-holder {
                display: none;
            }
        }

        .burger-nav {
            display: flex;
        }

        //}

        .side-menu {
            display: block;
            padding: 10px;

            ul {
                li {
                    padding: 8px 0px;
                    width: 200px;
                    margin: 0 auto;
                    text-transform: capitalize;

                    a {
                        color: white;
                        transition: color 0.25s ease-in-out;

                        &:hover {
                            color: $blue;
                        }
                    }


                    &:first-child {
                        padding-top: 0;
                    }
                }
            }

            &.open {
                transform: translateY(-1%);
            }

            .search-contact {
                width: 100%;
                flex-direction: column-reverse;

                .search-holder {
                    padding: 10px 0px;

                    input {
                        border: 0;
                        border-bottom: 1px solid white;
                        outline: none;
                        color: white;
                        padding: 5px 30px 5px 5px;
                        background: transparent url(../../svg/search.svg) no-repeat center right;
                        background-size: 18px;
                        margin: 0;
                        border-radius: 0;
                        max-width: 200px;
                    }
                }

                .contact-us-holder {
                    margin: 10px 0px;
                    padding: 5px 5px;
                    transition: border-color 0.20s ease-in-out;

                    a {
                        font-size: 15px;
                        text-transform: capitalize;


                    }

                    &:hover {
                        border-color: $gray;
                        border-bottom: 1px solid $blue;
                    }
                }
            }
        }
    }
}

@media (max-width:575px) {
    .burger-nav {
        width: 50px;
    }

    header .logo {
        width: 55px !important;
    }
}