
//
// VARIABLES
//

// Colors

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$lightGray: #434551;;
$white: #f2f2f2;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$blue:#49bcd7;
//$gray:#2f333f;
$gray:#040817;



// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}